#home {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/HealthOne-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    opacity: 0.9;
}

.table {
    margin: auto;
}

.info {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    color: #58eb5c;
}

.info:hover {
    color: #50d754;
}
img {
    width: 350px !important;
}
